*{
    margin: 0;
    padding: 0;
}


.container {
    width: 500px;
    height: 90vh;
    margin: 15px auto;
    text-align: center;
    background-color: coral;
    border-radius: 10px;
}

.texto {
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
}